<section id="comments" class="comment"></section>

<script type="text/javascript">
	if(-1 != location.href.indexOf("icehe.github.io")){
		document.getElementById('comments').innerHTML = '<div id="disqus_thread"><noscript>Please enable JavaScript to view the <a href="//disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript></div>';
	}else if(-1 != location.href.indexOf("icehe.gitcafe.io")){
		document.getElementById('comments').innerHTML = '<div class="ds-thread" data-thread-key="<%- page.path %>" data-title="<%- page.title %>" data-url="<%- page.permalink %>"></div>';
	}else{
		document.getElementById('comments').innerHTML = '<div class="ds-thread" data-thread-key="<%- page.path %>" data-title="<%- page.title %>" data-url="<%- page.permalink %>"></div><hr/><div id="disqus_thread"><noscript>Please enable JavaScript to view the <a href="//disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript></div>'
	}
</script>