<!-- jiathis的点赞按钮！-->
<!-- 有了多说评论框的“喜欢”按钮就足够了 -->
<!-- JiaThis Button BEGIN -->
<!--
<div class="jiathis_style">
	<a class="jiathis_like_tsina" data="width=120"></a>
	<a class="jiathis_like_qzone"></a>
</div>
<script type="text/javascript" src="http://v3.jiathis.com/code_mini/jia.js" charset="utf-8"></script>
-->
<!-- JiaThis Button END -->

<!-- Donate Module -->
<div>
	<!-- css -->
	<style type="text/css">
		.donate_bar{ text-align: center; }
		.donate_bar a.btn_donate{
			display: inline-block;
			width: 82px;
			height: 82px;
			background: url("http://img.t.sinajs.cn/t5/style/images/apps_PRF/e_media/btn_reward.gif") no-repeat;
			_background: url("http://img.t.sinajs.cn/t5/style/images/apps_PRF/e_media/btn_reward.gif") no-repeat; 
			
			<!-- 因为本 hexo 生成的博客所用的 theme 的 a:hover 带动画效果，
				 为了在让打赏按钮显示效果正常 而 添加了以下几行 css，
				 嵌入其它博客时不一定要它们。 -->
			-webkit-transition: background 0s;
			-moz-transition: background 0s;
			-o-transition: background 0s;
			-ms-transition: background 0s;
			transition: background 0s;
			<!-- /让打赏按钮的效果显示正常 而 添加的几行 css 到此结束 -->
		}
		.donate_bar a.btn_donate:hover{ background-position: 0px -82px;}
		.donate_bar .donate_txt {
			display: block;
			color: #9d9d9d;
			font: 14px/2 "Microsoft Yahei";
		}
		.bold{ font-weight: bold; }
	</style>
	<!-- /css -->
	
	<!-- form -->
	<form id="donate" action="https://shenghuo.alipay.com/send/payment/fill.htm" method="POST" target="_blank" accept-charset="GBK">
		<input name="optEmail" type="hidden" value="13570348561" />
		<input name="payAmount" type="hidden" value="1.00" />
		<input id="title" name="title" type="hidden" value="打赏《<%= item.title.substr(0, 16) %>》"/>
		<input name="memo" type="hidden" value="留下您的大名及联系方式(email,blog,etc)，多交流共勉共进：" />
	</form>
	<!-- /form -->

	<!-- btn_donate & tips -->
	<div class="donate_bar">
		<a class="btn_donate" name="donate" href="javascript:;" title="Donate 打赏" onclick="document.getElementById('donate').submit()"></a>
		<span class="donate_txt">
			&uarr;<br/>
			If you enjoy the article, please feel free to <span class="bold">donate~</span> Thx.<br/>
			若本文对您有帮助，<span class="bold">求打赏~</span> 谢谢您的鼓励。
		</span>
	</div>
	<!-- /btn_donate & tips -->
</div>
<!-- /Donate Module -->

<footer class="article-footer clearfix">
<%- partial('catetags') %>
<% if (!index){ %>
	<div class="article-share" id="share">
	<% if(theme.jiathis.enable){ %>
	<div class="share-jiathis">
	  <%- partial('jiathis') %>
	 </div>
	<% } else { %>
	  <div data-url="<%- item.permalink %>" data-title="<% if (item.title){ %><%= item.title %> | <% } %><%= config.title %>" data-tsina="<%= theme.author.tsina %>" class="share clearfix">
	  </div>
	<% } %>
	</div>
<% } %>
<% if (index){ %>
<div class="comments-count">
	<% if((config.disqus_shortname || theme.disqus_shortname) && !theme.duoshuo_shortname) { %>
	  	<span></span>
		<a href="<%- config.root %><%- item.path %>#disqus_thread" class="comments-count-link">Comments</a>
	<% } else if(theme.duoshuo_shortname) { %>
	  	<span></span>
		<a href="<%- item.permalink %>#comments" class="ds-thread-count comments-count-link" data-thread-key="<%- item.path %>" data-count-type="comments">&nbsp;</a>
	<% } %>
</div>
<% } %>
</footer>

